.hero_section{
    margin-top: 2.6rem;
    display: flex;
    align-items: center;
}

.hero_text{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-inline-end: 1.6rem;
}

.hero_text h1{
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-block-end: 1.6rem;
}
.hero_text .highlight{
    color: #c02a90;
}

.hero_text p{
    font-size: 1.4rem;
    margin-block-end: 1.2rem;
}

.mini_form{
    display: flex;
    height: 2.8rem;
    width: 90%;
}

.mini_form input{
    border-right: none !important;
    width: 60%;
    border-radius: 6px 0px 0px 6px;
    border: 1px #ccc solid;
}

.mini_form input:placeholder-shown{
    font-size: 1rem;
}

.mini_form button{
    font-size: 1.2rem;
    color: #fff;
    background-color: #A02879;
    border: none;
    width: 40%;
    border-radius: 0px 6px 6px 0px;
}

.mini_form input, .mini_form button{
    padding-inline: 1.2rem;
}

.hero_image{
    width: 40%;
    margin-inline-start: 1.6rem;
}

/* Tablet Responsiveness */
@media screen and (max-width: 63.5em){
    .hero_section{
        flex-direction: column-reverse;
        row-gap: 3.2rem;
    }
    
    .hero_text, .hero_image{
        margin-inline: 0;
    }
    
    .hero_text{
        width: 95%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .hero_text h1{
        font-size: 2.6rem;
    }

    .hero_text p{
        font-size: 1.25rem;
    }
    
    .hero_image{
        width: 70%;
    }
}


/* Mobile responsiveness */
@media screen and (max-width: 37.5em){
    .hero_text h1{
        font-size: 2.4rem;
    }
    
    .hero_text p{
        font-size: 1.2rem;
    }
}