.nft_section{
    display: flex;
    align-items: center;
    background-color: #A02879;
    color: #fff;
}

.nft_text{
    width: 35%;
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
}

.nft_text h2{
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.nft_text p{
    font-size: 1.1rem;
}

.learn_more{
    border: none;
    background-color: #fff;
    color: #A02279;
    height: 2.4rem;
    width: max-content;
    font-size: 0.9rem;
    padding: 0.2rem 0.8rem;
    border-radius: 6px;
    cursor: pointer;
}

.nft_image{
    padding: 2.4rem 0 2.4rem 3.2rem;
    width: 65%;
}
.nft_image img{
    width: 100%;
}


/* Mobile responsiveness */
@media screen and (max-width: 47.5em) {
    .nft_section{
        flex-direction: column-reverse;
        row-gap: 2.4rem;
    }

    .nft_text{
        width: 70%;
    }

    .nft_image{
        width: 100%;
        padding: 0;
    }
}